.sales-banner {
	.sales-item {
		position: relative;

		figure {
			overflow: hidden;
			border-radius: 1.2rem;
		}

		img {
			transform: scale(1);
			transition: transform 0.3s ease-in-out;
		}

		&:hover img {
			transform: scale(1.1);
		}
	}

	.banner-content {
		position: absolute;
		top: 16%;
		left: 8%;

		h2 {
			padding: 1.2rem 0;
		}

		p {
			margin-bottom: 4rem;
		}
	}
}
