// CLASS DEFAULTS ----------------------------------------------------------------------------------

@use "./variables" as v;

.container {
  width: 75%;
  margin: 0 auto;
}

.container-fluid {
  width: 95%;
  margin: 0 auto;
}

section {
  padding: v.$section-padding 0;
}

.pg-404 {
  height: 80vh;
  display: flex;
  align-items: center;
}

.d-none {
  display: none;
}
