@import "../abstracts/variables.css";

.container {
	width: 75%;
	margin: 0 auto;
}

.container-fluid {
	width: 95%;
	margin: 0 auto;
}

section {
	padding: var(--section-padding) 0;
}

.pg-404 {
	height: 80vh;
	display: flex;
	align-items: center;
}

.d-none {
	display: none;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		visibility: visible;
		transform: translate3d(0);
	}
}

.fadeInUp {
	animation-name: fadeInUp;
}

@keyframes progress {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -60px -60px;
	}
}

.progress {
	animation-name: progress;
}
