@use "../abstracts/helper" as *;

header {
  transition: padding 0.6s ease-in-out;

  &.sticky {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    position: fixed;
    padding: 0.5rem 0;
    background-color: white;
    box-shadow: $box-shadow-md;
  }

  .nav-list,
  .header-wrapper {
    gap: 1rem;
    @extend .flexRow-between;
  }

  .nav-list {
    .nav-item {
      display: flex;
    }

    .nav-link {
      font-weight: 600;
      padding: 2.5rem 1rem;
      color: $color-Dark-800;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $color-primary;
      }
    }
  }

  .user-info {
    gap: 1.8rem;
    @extend .flexRow-between;

    svg {
      fill: $color-Dark-800;

      &:hover {
        fill: $color-primary;
      }
    }

    .user-link {
      position: relative;

      .badge {
        position: absolute;
        top: -60%;
        right: -50%;
        color: white;
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
        border-radius: 50%;
        @extend .flexRow-center;
        background-color: $color-primary;
      }
    }
  }
}
