*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	/* Inherits from body element */
}

html {
	font-size: 62.5%;
	/* Always use percentages. 1rem = 10px. */
	scroll-behavior: smooth;
	/* Prevent adjustments of font size after orientation changes in iO*/
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-size: 1.4rem;
	user-select: none;
	overflow-x: hidden;
	box-sizing: border-box;
	color: var(--color-body);
	background-color: white;
	font-family: var(--fm-body);

	&::-webkit-scrollbar {
		width: 0.8rem;
	}

	&::-webkit-scrollbar-track {
		background: var(--color-scrollbar);
	}

	&::-webkit-scrollbar-thumb {
		background: var(--color-scrollThumb);
	}
}

@supports (scrollbar-color: var(--color-scrollThumb) var(--color-scrollbar)) {
	* {
		scrollbar-width: thin;
		scrollbar-color: var(--color-scrollThumb) var(--color-scrollbar);
	}
}

/* // -- PROPERTY  -------------------------------------------------------------------- */

h1,
h2,
h3,
h4 {
	font-weight: 400;
	color: var(--color-Dark-800);
	line-height: var(--lh-heading);
	font-family: var(--fm-primary);
}

input,
button,
select,
textarea {
	font: inherit;
	font-size: 100%;
	line-height: 1.15;
}

ul:not(.browser-default) > li {
	list-style: none;
}

a:not(.browser-default) {
	text-decoration: none;
}

button:not(.browser-default) {
	border: none;
	cursor: pointer;
}

p {
	font-size: var(--fs-body);
}

h1 {
	margin: 1rem 0;
	font-size: var(--fs-h1);
}

h2 {
	font-size: var(--fs-h2);
}

h3 {
	font-size: var(--fs-h3);
}

h4 {
	font-size: var(--fs-h4);
}

figure {
	line-height: 0;
}

img {
	height: auto;
	line-height: 0;
	max-width: 100%;
	border-style: none;
}

small {
	font-size: 80%;
}

/* OPTIONAL -- remove animations for people who've turned them off */

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
